include ../mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || '壹沓新闻'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css

		block head

	body

		#header: .container

			div(role="navigation").navbar.navbar-primary
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/', class=!data.category ? 'active' : false) 壹沓新闻
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							each cat in data.categories
								li(class=(section == cat.key ? 'active' : null)): a(href='/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= cat.name
						ul.nav.navbar-nav.navbar-right
							if user
								if user.canAccessKeystone
									li: a(href='/keystone') 进入后台
								li: a(href='/keystone/signout') 登出
							else
								li: a(href='/keystone/signin') 登录

		#body

			block intro

			+flash-messages(messages)

			block content

		.container: #footer

			p ©cope-right 2016-2017 <a href="http:/1data.info" target="_blank">壹沓科技</a>.

		script(src='/js/jquery/jquery-1.11.3.min.js')


		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		block js
